In [46]:
import numpy as npstudents=np.array([['ram','naidu','vanu','madhu','srivalli','sri'],
                  [45,55,65,75],
                  [76,56,86,96]])

In [47]:
a=np.arange(11)**2

In [48]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [49]:
a[2]

4

In [50]:
a[0:3]

array([0, 1, 4], dtype=int32)

In [51]:
a[3:7]

array([ 9, 16, 25, 36], dtype=int32)

In [52]:
a[0]

0

In [53]:
a[3]

9

In [54]:
a[6]

36

In [55]:
a[-2]

81

In [56]:
a[::-1]

array([100,  81,  64,  49,  36,  25,  16,   9,   4,   1,   0], dtype=int32)

In [65]:
students=np.array([['ram','naidu','vanu','madhu','srivalli','sri'],
                  [45,55,65,75],
                  [76,56,86,96]])

In [66]:
students

array([list(['ram', 'naidu', 'vanu', 'madhu', 'srivalli', 'sri']),
       list([45, 55, 65, 75]), list([76, 56, 86, 96])], dtype=object)

In [67]:
students[2]

[76, 56, 86, 96]

In [68]:
students[0]

['ram', 'naidu', 'vanu', 'madhu', 'srivalli', 'sri']

In [69]:
students[0:3]

array([list(['ram', 'naidu', 'vanu', 'madhu', 'srivalli', 'sri']),
       list([45, 55, 65, 75]), list([76, 56, 86, 96])], dtype=object)

In [70]:
students[1:2]

array([list([45, 55, 65, 75])], dtype=object)

In [85]:
students[1:2]

array([1], dtype=int32)

In [89]:
students=np.array([['ram','naidu','vanu','madhu','srivalli','sri'],
                  [45,55,65,75],
                  [76,56,86,96]])

In [87]:
students

array([list(['ram', 'naidu', 'vanu', 'madhu', 'srivalli', 'sri']),
       list([45, 55, 65, 75]), list([76, 56, 86, 96])], dtype=object)

In [ ]:
students[]